adalflow>=0.1.0
aio_pika
asgi_correlation_id==4.2.0
bert-score
boto3
faiss-cpu>=1.7.4
fastapi[standard]
google-generativeai>=0.3.0
jinja2>=3.1.2
markdown>=3.4.0
motor==3.3.2
nltk
numpy
ollama>=0.4.8
openai>=1.76.2
pydantic>=2.0.0
pydantic-settings>=2.0.0
pymongo==4.6.1
pytest
python-dotenv
pyyaml
reportlab>=3.6.0
rouge-score
structlog==22.3.0
uvicorn[standard]
